@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@tailwind utilities;

body {
  background-color: #1a1a1a; /* Darker background */
  color: oklch(0.985 0 0 / 85%); /* Softer white text */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
